<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="printService" class="org.juliana.matovu.PrintService">
        <property name="palindrome" value="Hannah" />
    </bean>

    <bean id="printFormatHelper" class="org.juliana.matovu.PrintFormatHelper">
        <property name="reverse" value="Emily" />
    </bean>
    <!-- more bean definitions go here -->

</beans>